Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

docs: add Copilot prompt files
  .github/prompts/add-missing-examples.prompt.md
Due: none

fix: remove get_status example (method not yet on CamundaClient)
  examples/admin_operations.py
  examples/operation-map.json
Due: pyright

fix: pass decision_definition_key in get_decision_definition example
  examples/decision.py
Due: pyright

fix: restore get_status example (method now available after PR #69 merge)
  examples/admin_operations.py
  examples/operation-map.json
Due: pyright

fix: address PR review comments
  .gitignore
  README.md
  examples/admin_operations.py
  examples/operation-map.json
  examples/readme.py
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

fix: remove unused ProcessDefinitionKey import
  examples/readme.py
Due: pyright

chore(release): 8.9.0-dev.28 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: support custom TLS certificates (mTLS)
  README.md
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  generated/camunda_orchestration_sdk/runtime/tls.py
  hooks/post_gen/0900_flatten_client.py
  runtime/configuration_resolver.py
  runtime/tls.py
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
  stubs/camunda_orchestration_sdk/runtime/tls.pyi
  tests/acceptance/test_mtls.py
  uv.lock
Due: ruff-format, ruff-check, pyright

feat: support CA-only TLS (self-signed server certs)
  README.md
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  generated/camunda_orchestration_sdk/runtime/tls.py
  runtime/configuration_resolver.py
  runtime/tls.py
  tests/acceptance/test_mtls.py
Due: ruff-format, ruff-check, pyright

fix: consistent TLS for OAuth transport + secure temp file permissions
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/tls.py
  hooks/post_gen/0900_flatten_client.py
  runtime/tls.py
Due: ruff-format, ruff-check, pyright

docs: require red/green refactor discipline for all bug fixes
  .github/copilot-instructions.md
Due: none

chore(release): 8.9.0-dev.29 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: update snippet format and add README examples section to CONTRIBUTING
  .github/copilot-instructions.md
  CONTRIBUTING.md
Due: none

fix: broken links in docs synced to camunda-docs
  .github/workflows/ci.yml
  Makefile
  README.md
  scripts/generate_landing_page.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.30 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: improve API reference formatting in generated docs
  scripts/postprocess_markdown.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.31 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add imports field to operation-map entries
  examples/operation-map.json
  missing-examples.json
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

Update scripts/check_example_coverage.py
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

fix: shorten discriminant labels for multi-entry operations
  examples/operation-map.json
Due: none

refactor: move imports to defaultImports in docusaurus config
  examples/operation-map.json
Due: none

chore(release): 8.9.0-dev.32 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

test: add CI guard for method example completeness
  .github/workflows/ci.yml
  scripts/check_method_example_completeness.py
Due: ruff-format, ruff-check, pyright

fix: add missing example regions for hand-written client methods
  examples/client.py
  examples/deployment.py
  examples/job.py
Due: pyright

fix: validate operation-map file+region references exist
  scripts/check_method_example_completeness.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.33 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add 'prefer ergonomic helpers' guideline to copilot-instructions
  .github/copilot-instructions.md
Due: none

test: add semantic types behavioral regression guard
  tests/unit/test_semantic_types.py
Due: ruff-format, ruff-check, pyright

refactor: make semantic types class-based with built-in validation
  generated/camunda_orchestration_sdk/semantic_types.py
  hooks/post_gen/0700_generate_semantic_types.py
  hooks/post_gen/0900_flatten_client.py
  stubs/camunda_orchestration_sdk/semantic_types.pyi
Due: ruff-format, ruff-check, pyright

docs: update semantic types section to reflect class-based implementation
  README.md
Due: none

fix: remove unnecessary f-string prefix
  hooks/post_gen/0700_generate_semantic_types.py
Due: ruff-format, ruff-check, pyright

chore: address review comments
  generated/camunda_orchestration_sdk/semantic_types.py
  hooks/post_gen/0700_generate_semantic_types.py
  stubs/camunda_orchestration_sdk/semantic_types.pyi
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.34 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

test: integration test suite for search_process_instances filter and pagination shapes
  tests/integration/test_search_process_instances_filters.py
Due: ruff-format, ruff-check, pyright

fix: replace invalid AdvancedStringFilter(gte=) with like= in variables test
  tests/integration/test_search_process_instances_filters.py
Due: ruff-format, ruff-check, pyright

fix: remove all type: ignore comments from integration tests
  tests/integration/test_search_process_instances_filters.py
Due: ruff-format, ruff-check, pyright

fix: remove type: ignore suppressions by fixing root type issues
  demo/v2/backpressure/client_worker.py
  demo/v2/backpressure/multi_client.py
  generated/camunda_orchestration_sdk/runtime/backpressure.py
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  generated/camunda_orchestration_sdk/runtime/logging.py
  hooks/post_gen/1250_remove_unused_imports.py
  runtime/backpressure.py
  runtime/configuration_resolver.py
  runtime/logging.py
  tests/acceptance/test_backpressure.py
  tests/unit/test_semantic_types.py
Due: ruff-format, ruff-check, pyright

fix: address PR #92 review comments
  tests/integration/test_search_process_instances_filters.py
Due: ruff-format, ruff-check, pyright
