Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

test: add required physical_tenant_id and lease_token to ActivatedJobResult constructors
  tests/acceptance/test_connected_job_context.py
Due: ruff-format, ruff-check, pyright

docs: add restore example and operation-map entry
  examples/admin_operations.py
  examples/operation-map.json
Due: pyright

docs: add search_process_definition_variable_names example and operation-map entry
  examples/extended_operations.py
  examples/operation-map.json
Due: pyright

chore: pass empty query via data= in variable-names example for consistency
  examples/extended_operations.py
Due: pyright

docs: add examples for process instance suspend/resume/business-id operations
  examples/batch_operation.py
  examples/operation-map.json
  examples/process_instance.py
Due: pyright

docs: fix API reference rendering of signatures, blockquotes and params
  examples/admin_operations.py
  hooks/post_gen/0900_flatten_client.py
  scripts/postprocess_markdown.py
  tests/acceptance/test_hook_flatten_client_docstring.py
  tests/acceptance/test_postprocess_markdown.py
Due: ruff-format, ruff-check, pyright

chore: address review comments on blockquote folding and test isolation
  scripts/postprocess_markdown.py
  tests/acceptance/test_hook_flatten_client_docstring.py
  tests/acceptance/test_postprocess_markdown.py
Due: ruff-format, ruff-check, pyright

docs: fix Parameters header and split-sentence rendering in blockquotes
  scripts/postprocess_markdown.py
  tests/acceptance/test_postprocess_markdown.py
Due: ruff-format, ruff-check, pyright

docs: add resolve_secrets example and operation-map entry
  examples/operation-map.json
  examples/secret.py
Due: pyright

chore: address review comments on resolve_secrets example
  examples/secret.py
Due: pyright

ci: trim PR integration matrix to one Python version (#206)
  .github/workflows/ci.yml
  Makefile
Due: none

refactor: enable maximum ty strictness (#203)
  pyproject.toml
Due: none

refactor: expand ruff rule selection and error on warnings (#207)
  generate.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  hooks/pre_gen/0100_patch_bundled_spec.py
  pyproject.toml
  runtime/__init__.py
  runtime/auth.py
  runtime/job_worker.py
  scripts/check_missing_ops.py
  scripts/generate_config_reference.py
  tests/acceptance/test_configuration_resolver.py
  tests/acceptance/test_deprecated_aliases.py
  tests/acceptance/test_eventual_consistency.py
  tests/acceptance/test_identifier_guard.py
  tests/acceptance/test_job_worker_resources.py
  tests/acceptance/test_mtls.py
  tests/integration/test_job_worker.py
  tests/integration/test_search_variables_as_dto.py
  tests/unit/test_semantic_types.py
Due: ruff-format, ruff-check, pyright

chore: address review comment — split generate-only to avoid double-running acceptance
  .github/workflows/ci.yml
  Makefile
Due: none

chore: address review comments - single dependency sync in CI
  Makefile
Due: none

docs: require a tracked, claimed issue before starting work (#208)
  AGENTS.md
Due: none

chore: address review comments - tokenize escape-hatch scan
  scripts/check_escape_hatches.py
  scripts/escape-hatch-baseline.json
Due: ruff-format, ruff-check, pyright

ci: guard against new type-safety escape hatches in runtime and hooks (#204)
  .github/workflows/ci.yml
  Makefile
  scripts/check_escape_hatches.py
  scripts/escape-hatch-baseline.json
Due: ruff-format, ruff-check, pyright

fix: scope expanded ruff families away from generated code
  pyproject.toml
Due: none

chore: harden escape-hatch guard against malformed input
  scripts/check_escape_hatches.py
Due: ruff-format, ruff-check, pyright

fix: avoid return inside finally in generated client close()
  hooks/post_gen/0900_flatten_client.py
  tests/acceptance/test_imports.py
Due: ruff-format, ruff-check, pyright

chore: narrow BaseException to Exception in close() race test
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.20 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add runtime backup and exporting examples
  examples/backup.py
  examples/exporting.py
  examples/operation-map.json
Due: pyright

chore: address review comments -- example style consistency
  examples/backup.py
  examples/exporting.py
Due: pyright

chore: address review comments -- clarify optional backup_id
  examples/backup.py
Due: pyright

chore(generation): regenerate SDK against current upstream spec
  examples/admin_operations.py
  examples/operation-map.json
  examples/secret.py
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/agent-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/authorizations.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/backups.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/batch-operations.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/cluster-variables.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/cluster.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/exporting.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/identifiers.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/incidents.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-definitions.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/resource-permissions.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/rest-api.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/secrets.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/semantic-kinds.json
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/api/recovery/change_cluster_mode.py
  generated/camunda_orchestration_sdk/api/secret/list_secrets.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/__init__.py
  generated/camunda_orchestration_sdk/models/mode.py
  generated/camunda_orchestration_sdk/models/secret_list_request.py
  generated/camunda_orchestration_sdk/models/secret_list_result.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
  stubs/camunda_orchestration_sdk/api/recovery/change_cluster_mode.pyi
  stubs/camunda_orchestration_sdk/api/secret/list_secrets.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/models/__init__.pyi
  stubs/camunda_orchestration_sdk/models/mode.pyi
  stubs/camunda_orchestration_sdk/models/secret_list_request.pyi
  stubs/camunda_orchestration_sdk/models/secret_list_result.pyi
Due: pyright

chore(deps): upgrade vulnerable transitive deps within minor/patch bounds
  package-lock.json
  package.json
  uv.lock
Due: none

ci: only raise major-update PRs for vulnerability fixes
  .github/renovate.json
Due: none

ci: run Copilot CLI in Actions instead of assigning the coding agent
  .github/workflows/agent-example-coverage.yml
  .github/workflows/assign-copilot-new-operations.yml
Due: none

ci: harden agent workflow inputs and make PR creation idempotent
  .github/workflows/agent-example-coverage.yml
Due: none

ci: keep issue-controlled text out of step outputs
  .github/workflows/agent-example-coverage.yml
Due: none

ci: enable Slack bot-token notifications and merge reactions
  .github/workflows/community-notify.yml
Due: none

ci: grant issues write scope for the Slack marker comment
  .github/workflows/community-notify.yml
Due: none

ci: skip the notification call on unmerged PR closes
  .github/workflows/community-notify.yml
Due: none

ci: add spec-ref-guard job to stable/9 CI
  .github/workflows/ci.yml
Due: none

ci: pin publish SPEC_REF default to stable/8.9
  .github/workflows/publish.yml
Due: none

docs(ci): note workflow_dispatch as a SPEC_REF override path
  .github/workflows/publish.yml
Due: none

ci: fix duplicate agent runs and tighten the agent's scope
  .github/workflows/agent-example-coverage.yml
Due: none

chore(release): 10.1.0-dev.21 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none
