Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

feat: add example coverage for 4 new operations
  examples/admin_operations.py
  examples/agent_instance.py
  examples/operation-map.json
Due: pyright

fix: add Http406Error (NotAcceptableError) to error class mappings
  hooks/post_gen/0100_generate_typed_exceptions.py
  hooks/post_gen/0200_raise_exceptions.py
Due: ruff-format, ruff-check, pyright

chore(deps): restrict stable/9 Dependabot to patch-only updates
  .github/dependabot.yml
Due: none

chore(release): 10.1.0-dev.4 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: add breaking change guard to PR workflow
  .github/workflows/ci.yml
  AGENTS.md
Due: none

fix(hooks): annotate to_dict accumulator for required, non-nullable list of polymorphic oneOf
  hooks/post_gen/1200_fix_model_typing.py
  tests/acceptance/test_hook_fix_model_typing.py
Due: ruff-format, ruff-check, pyright

fix(hooks): annotate 3-variant _parse_* helper for optional+nullable list-of-model
  examples/agent_instance.py
  hooks/post_gen/1200_fix_model_typing.py
  tests/acceptance/test_hook_fix_model_typing.py
Due: ruff-format, ruff-check, pyright

docs(examples): add example for searchElementInstanceWaitStates
  examples/extended_operations.py
  examples/operation-map.json
Due: pyright

chore(release): 10.1.0-dev.5 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: address review comments
  MAINTAINER.md
  hooks/post_gen/0700_generate_semantic_types.py
  runtime/backpressure.py
Due: ruff-format, ruff-check, pyright

feat(typecheck): migrate from pyright to ty
  .github/prompts/add-missing-examples.prompt.md
  AGENTS.md
  CONTRIBUTING.md
  MAINTAINER.md
  Makefile
  README.md
  hooks/post_gen/0700_generate_semantic_types.py
  pyproject.toml
  runtime/backpressure.py
  runtime/job_worker.py
  scripts/setup-hooks.sh
  tests/acceptance/test_backpressure.py
  tests/acceptance/test_job_worker.py
  uv.lock
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for ty migration
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/runtime/backpressure.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/backpressure.pyi
  uv.lock
Due: pyright

feat: add Slack notifications for release failures and community events
  .github/workflows/community-notify.yml
  .github/workflows/publish.yml
Due: none

chore(release): 10.1.0-dev.6 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add permissions: {} to community-notify workflow
  .github/workflows/community-notify.yml
Due: none

chore(release): 10.1.0-dev.7 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: address review comments on JobWorker.close/stop
  runtime/job_worker.py
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

chore: harden JobWorker close() against more lifecycle hazards
  runtime/job_worker.py
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

chore: address review comments on lazy-init concurrency + test scope
  runtime/job_worker.py
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

fix(runtime): lazy-allocate JobWorker pools and event loop
  runtime/job_worker.py
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

chore: address review comments on close() lifecycle hazards
  runtime/job_worker.py
  tests/acceptance/test_job_worker_resources.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for JobWorker lazy pools + close() hardening
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  uv.lock
Due: pyright

chore(release): 10.1.0-dev.8 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix(runtime): track in-flight job tasks so stop()/aclose() can cancel them
  runtime/job_worker.py
  tests/acceptance/test_job_worker_task_tracking.py
Due: ruff-format, ruff-check, pyright

chore: address review comments on PR #152
  runtime/job_worker.py
  tests/acceptance/test_job_worker_task_tracking.py
Due: ruff-format, ruff-check, pyright

chore: address review comments on PR #152 (round 2)
  hooks/post_gen/0900_flatten_client.py
  hooks/pre_gen/0100_patch_bundled_spec.py
  package-lock.json
  package.json
  runtime/job_worker.py
  tests/acceptance/test_job_worker_task_tracking.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for in-flight task tracking + review fixes
  external-spec/bundled/rest-api.bundle.json
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
Due: pyright

chore(release): 10.1.0-dev.9 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat(runtime): default CAMUNDA_TENANT_ID(S) into request bodies with optional tenantIds[]
  README.md
  hooks/post_gen/0900_flatten_client.py
  runtime/configuration_resolver.py
  tests/acceptance/test_configuration_resolver.py
  tests/acceptance/test_default_tenant_ids.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for default-tenant-ids injection
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
  uv.lock
Due: pyright

chore(release): 10.1.0-dev.10 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: temporary test workflow for org membership API [skip ci]
  .github/workflows/test-org-membership.yml
Due: none

ci: remove temporary test workflow [skip ci]
  .github/workflows/test-org-membership.yml
Due: none

chore: update bundled spec to latest upstream
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/agent-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/audit-logs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/authentication.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/authorizations.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/batch-operations.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/clock.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/cluster-variables.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/cluster.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/conditionals.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/decision-definitions.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/decision-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/decision-requirements.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/deployments.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/documents.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/element-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/expression.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/forms.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/global-listeners.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/groups.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/incidents.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/job-metrics.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/keys.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/licenses.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/mapping-rules.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/messages.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-definitions.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/rest-api.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/roles.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/setup.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/signals.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/system.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/tenants.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/user-tasks.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/users.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/variables.yaml
Due: none

chore: upgrade test docker image to 8.10-SNAPSHOT
  docker/docker-compose.yaml
Due: none

chore: add priority field to test constructors
  tests/acceptance/test_connected_job_context.py
Due: ruff-format, ruff-check, pyright

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
