Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

chore(generation): regenerate SDK for job worker improvements
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
Due: pyright

feat: improve job worker autocomplete, variables, and logging
  runtime/job_worker.py
  tests/acceptance/test_connected_job_context.py
  tests/acceptance/test_job_worker.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.11 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: pass author-association to community notification workflow
  .github/workflows/community-notify.yml
Due: none

ci: pass vault secrets for org membership check
  .github/workflows/community-notify.yml
Due: none

chore(release): 10.1.0-dev.12 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add DTO-driven typed variable maps (search_variables_as_dto)
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/typed_variables.py
  tests/acceptance/test_typed_variables.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for DTO-driven typed variable maps
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/typed_variables.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/typed_variables.pyi
Due: pyright

docs: add search_variables_as_dto usage example
  examples/extended_operations.py
Due: pyright

refactor: keep typed-variable search memory-bounded and fix VariableMap stubs
  generated/camunda_orchestration_sdk/runtime/typed_variables.py
  runtime/typed_variables.py
  stubs/camunda_orchestration_sdk/runtime/typed_variables.pyi
Due: ruff-format, ruff-check, pyright

feat: add eventual-consistency wait to search_variables_as_dto
  hooks/post_gen/0900_flatten_client.py
  runtime/typed_variables.py
  tests/acceptance/test_eventual_consistency.py
  tests/acceptance/test_typed_variables.py
  tests/integration/resources/typed_variables_test_process.bpmn
  tests/integration/test_search_variables_as_dto.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for collection-level variable consistency wait
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/typed_variables.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/typed_variables.pyi
Due: pyright

fix(deps): bump camunda-schema-bundler to 2.4.3
  package-lock.json
  package.json
Due: none

fix: handle integer semantic keys and wrapped list parse helpers in SDK codegen
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  hooks/post_gen/1200_fix_model_typing.py
  tests/acceptance/test_imports.py
Due: ruff-format, ruff-check, pyright

docs: add examples for agent instance history operations
  examples/agent_instance.py
  examples/operation-map.json
Due: pyright

chore: align list-parse guard regex with hook 1200 trailing comma
  tests/acceptance/test_imports.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.13 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 10.1.0-dev.14 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: adopt upstream wait-state details union in example
  examples/extended_operations.py
Due: pyright

fix: drop unused MessageWaitStateDetails import
  examples/extended_operations.py
Due: pyright

chore(release): 10.1.0-dev.15 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix(gen): drop discriminator-only oneOf union base models
  hooks/post_gen/1450_drop_orphan_union_bases.py
Due: ruff-format, ruff-check, pyright

fix(gen): make orphan-base hook pass ty type check
  hooks/post_gen/1450_drop_orphan_union_bases.py
Due: ruff-format, ruff-check, pyright

fix(gen): handle multi-line imports + add tests for orphan-base hook
  hooks/post_gen/1450_drop_orphan_union_bases.py
  tests/acceptance/test_hook_drop_orphan_union_bases.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.16 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 10.1.0-dev.17 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add example coverage for updateJobsBatchOperation
  examples/batch_operation.py
  examples/operation-map.json
Due: pyright

chore(release): 10.1.0-dev.18 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(generation): sync upstream spec (businessId on job result types)
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/models/activated_job_result.py
  generated/camunda_orchestration_sdk/models/job_search_result.py
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
  stubs/camunda_orchestration_sdk/models/activated_job_result.pyi
  stubs/camunda_orchestration_sdk/models/job_search_result.pyi
  tests/acceptance/test_connected_job_context.py
Due: ruff-format, ruff-check, pyright

ci: auto-assign Copilot to new-operations coverage issues
  .github/workflows/assign-copilot-new-operations.yml
Due: none

ci: auto-merge Dependabot patch/minor updates after CI passes
  .github/workflows/dependabot-auto-merge.yml
Due: none

ci: remove Dependabot auto-rebase job
  .github/workflows/dependabot-auto-merge.yml
Due: none

chore(release): 10.1.0-dev.19 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: switch dependency updates from Dependabot to Renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  RELEASE.md
Due: none

ci: document Copilot assignment PAT requirement in auto-assign fallback
  .github/workflows/assign-copilot-new-operations.yml
Due: none

ci: auto-merge patch updates as well as minor
  .github/renovate.json
Due: none

docs: add change_cluster_mode example and operation-map entry
  examples/admin_operations.py
  examples/operation-map.json
Due: pyright
