Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

fix: guard LiveClock state with a lock and bound the contract waits
  runtime/clock.py
  tests/acceptance/clock_contract.py
  tests/acceptance/test_clock_contract.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the LiveClock lock
  generated/camunda_orchestration_sdk/runtime/clock.py
Due: pyright

feat: add the injected Clock protocol, live implementation and injection point (#270)
  examples/client.py
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/clock.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
  tests/acceptance/clock_contract.py
  tests/acceptance/test_clock_contract.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.30 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: resolve runtime cadence through the injected clock
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/auth.py
  runtime/backpressure.py
  runtime/clock.py
  runtime/eventual.py
  runtime/job_worker.py
  runtime/typed_variables.py
  tests/acceptance/test_backpressure.py
  tests/acceptance/test_clock_cadence.py
  tests/acceptance/test_clock_contract.py
  tests/acceptance/test_typed_variables.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for clock-driven cadence
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/auth.py
  generated/camunda_orchestration_sdk/runtime/backpressure.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  generated/camunda_orchestration_sdk/runtime/eventual.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/typed_variables.py
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/auth.pyi
  stubs/camunda_orchestration_sdk/runtime/backpressure.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
  stubs/camunda_orchestration_sdk/runtime/eventual.pyi
Due: pyright

chore: tighten the cast baseline after dropping the private clock protocol
  scripts/escape-hatch-baseline.json
Due: none

chore: take the yield out of ManualClock's critical section
  runtime/clock.py
  tests/acceptance/test_clock_contract.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the ManualClock lock fix
  generated/camunda_orchestration_sdk/runtime/clock.py
Due: pyright

chore(generation): regenerate SDK for the JobWorker clock parameter
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
Due: pyright

fix: give JobWorker its own clock instead of reaching through the client
  runtime/job_worker.py
  tests/acceptance/test_job_worker_task_tracking.py
Due: ruff-format, ruff-check, pyright

ci: pin the engine image instead of tracking a rolling snapshot
  .github/workflows/ci.yml
  docker/docker-compose.yaml
Due: none

feat: resolve runtime cadence through the injected clock (#271)
  .github/workflows/ci.yml
  docker/docker-compose.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/auth.py
  generated/camunda_orchestration_sdk/runtime/backpressure.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  generated/camunda_orchestration_sdk/runtime/eventual.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/typed_variables.py
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/auth.py
  runtime/backpressure.py
  runtime/clock.py
  runtime/eventual.py
  runtime/job_worker.py
  runtime/typed_variables.py
  scripts/escape-hatch-baseline.json
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/auth.pyi
  stubs/camunda_orchestration_sdk/runtime/backpressure.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
  stubs/camunda_orchestration_sdk/runtime/eventual.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  tests/acceptance/test_backpressure.py
  tests/acceptance/test_clock_cadence.py
  tests/acceptance/test_clock_contract.py
  tests/acceptance/test_job_worker_task_tracking.py
  tests/acceptance/test_typed_variables.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.31 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: expose the worker's clock on the job context
  runtime/job_worker.py
  tests/acceptance/test_connected_job_context.py
  tests/acceptance/test_job_context_clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the job context clock
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
Due: pyright

feat: expose the worker's clock on the job context (#273)
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  tests/acceptance/test_connected_job_context.py
  tests/acceptance/test_job_context_clock.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.32 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: ban ambient time in the runtime
  generated/camunda_orchestration_sdk/runtime/clock.py
  pyproject.toml
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

test: prove the ambient-time ban catches every spelling
  tests/acceptance/test_ambient_time_ban.py
Due: ruff-format, ruff-check, pyright

feat: ban ambient time in the runtime (#274)
  generated/camunda_orchestration_sdk/runtime/clock.py
  pyproject.toml
  runtime/clock.py
  tests/acceptance/test_ambient_time_ban.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.33 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add EngineClock, binding client cadence to engine time
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

test: prove a minute of engine time passes in real milliseconds
  tests/acceptance/test_engine_clock.py
  tests/acceptance/test_engine_clock_acceptance.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for EngineClock
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright

fix: address review - queue concurrent pins instead of rejecting them
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

test: model the I/O the engine double was missing
  tests/acceptance/test_engine_clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the EngineClock review fixes
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright

fix: compare the pin owner by value, not identity
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

test: cover re-entry on the synchronous path
  tests/acceptance/test_engine_clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the pin-owner comparison fix
  generated/camunda_orchestration_sdk/runtime/clock.py
Due: pyright

fix: settle overlapping waits at a wake instant instead of summing them
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the EngineClock semantics fixes
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright

test: cover the failure and concurrency paths the doubles were hiding
  tests/acceptance/test_engine_clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the blocking-caller bridge
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright

docs: document the clocks, and how not to strand a cluster
  README.md
  examples/readme.py
Due: pyright

fix: let thread-strategy handlers reach the engine
  runtime/clock.py
  tests/acceptance/test_engine_clock.py
  tests/acceptance/test_engine_clock_acceptance.py
Due: ruff-format, ruff-check, pyright

feat: make the engine clock a context manager
  README.md
  examples/readme.py
  runtime/clock.py
Due: ruff-format, ruff-check, pyright

test: pin the lifecycle guarantees, including the ones I got wrong
  tests/acceptance/test_engine_clock.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the clock context manager
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright
