Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

fix: address PR #93 review comments
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  runtime/configuration_resolver.py
  tests/unit/test_semantic_types.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.35 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.36 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: update publishing config for release
  .github/workflows/publish.yml
  RELEASE.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.37 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.38 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: document PSR major-bump limitation in MAINTAINER.md and RELEASE.md
  MAINTAINER.md
  RELEASE.md
  uv.lock
Due: none

chore(release): 9.0.0.dev0 [skip ci]
  pyproject.toml
Due: none

chore(release): 10.0.0.dev0 [skip ci]
  pyproject.toml
Due: none

ci: add dependabot entries for stable/9
  .github/dependabot.yml
Due: none

fix(ci): pull --rebase before pushing generated changes
  .github/workflows/publish.yml
Due: none

chore(release): 8.9.0-dev.39 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 10.0.0-dev.0 [skip ci]
  pyproject.toml
Due: none

docs: fix PSR version format in release docs (use X.Y.Z-dev.N not X.Y.Z.devN)
  MAINTAINER.md
  RELEASE.md
Due: none

chore(release): 9.0.0 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: document seed-tag requirement for new stable branch cutover
  .github/workflows/publish.yml
  RELEASE.md
Due: none

docs: document backport workflow for generator fixes to stable branches
  .github/copilot-instructions.md
Due: none

fix: guard spec-controlled identifiers against code injection (SFD-214)
  hooks/post_gen/0150_annotate_deprecated_enums.py
  hooks/post_gen/0200_raise_exceptions.py
  hooks/post_gen/0700_generate_semantic_types.py
  hooks/post_gen/0800_generate_composite_alias_models.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  hooks/post_gen/1375_reexport_models.py
  hooks/post_gen/_identifier_guard.py
  tests/acceptance/test_identifier_guard.py
Due: ruff-format, ruff-check, pyright

chore: fix ruff lint errors (E402 noqa, unused import)
  hooks/post_gen/0150_annotate_deprecated_enums.py
  hooks/post_gen/0200_raise_exceptions.py
  hooks/post_gen/0700_generate_semantic_types.py
  hooks/post_gen/0800_generate_composite_alias_models.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  hooks/post_gen/1375_reexport_models.py
  tests/acceptance/test_identifier_guard.py
Due: ruff-format, ruff-check, pyright

chore: address PR review comments
  generate.py
  hooks/post_gen/0150_annotate_deprecated_enums.py
  hooks/post_gen/0200_raise_exceptions.py
  hooks/post_gen/0700_generate_semantic_types.py
  hooks/post_gen/0800_generate_composite_alias_models.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  hooks/post_gen/1375_reexport_models.py
  hooks/post_gen/_identifier_guard.py
  tests/acceptance/test_identifier_guard.py
Due: ruff-format, ruff-check, pyright

chore: append hooks dir to sys.path instead of prepending
  generate.py
Due: ruff-format, ruff-check, pyright

chore: widen guard param types to object for pyright compatibility
  hooks/post_gen/_identifier_guard.py
Due: ruff-format, ruff-check, pyright

fix: use File.file_name instead of len(File) in example (pyright)
  examples/admin_operations.py
Due: pyright

fix: add missing searchResources example and fix get_resource_content pyright error
  examples/admin_operations.py
  examples/operation-map.json
Due: pyright

ci: move typecheck to test job so pyright runs after generate
  .github/workflows/ci.yml
Due: none

ci: pin SPEC_REF default to stable/8.9 for stable/9 branch
  .github/workflows/ci.yml
Due: none

chore(release): 9.0.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs(agents): consolidate Copilot instructions into AGENTS.md
  .github/copilot-instructions.md
  AGENTS.md
  CLAUDE.md
Due: none

feat: add transparent eventual consistency polling for annotated endpoints
  README.md
  examples/readme.py
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/eventual.py
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/eventual.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/eventual.pyi
  tests/acceptance/test_eventual_consistency.py
Due: ruff-format, ruff-check, pyright

fix(eventual): surface 429s to backpressure manager and tighten typing
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/eventual.py
  hooks/post_gen/0900_flatten_client.py
  runtime/eventual.py
  stubs/camunda_orchestration_sdk/runtime/eventual.pyi
  tests/acceptance/test_eventual_consistency.py
Due: ruff-format, ruff-check, pyright

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
