Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

fix: decode models when a server omits a field the spec marks nullable
  hooks/post_gen/0450_tolerant_nullable_pop.py
  tests/acceptance/test_hook_tolerant_nullable_pop.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.40 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 10.1.0-dev.41 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: name the model and field when a response omits a required field
  hooks/post_gen/0100_generate_typed_exceptions.py
  hooks/post_gen/1260_required_field_errors.py
  runtime/job_worker.py
  tests/acceptance/test_missing_required_field.py
Due: ruff-format, ruff-check, pyright

fix: decode an explicit null on nullable enum and union fields
  hooks/pre_gen/0150_nullable_enums_and_unions.py
  tests/acceptance/test_nullable_fields_typed_nullable.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for nullable enum and union fields
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/models/audit_log_result.py
  generated/camunda_orchestration_sdk/models/batch_operation_response.py
  generated/camunda_orchestration_sdk/models/cloud_configuration_response.py
  generated/camunda_orchestration_sdk/models/cluster_rebalance_operation_partition.py
  generated/camunda_orchestration_sdk/models/job_wait_state_details.py
  stubs/camunda_orchestration_sdk/models/audit_log_result.pyi
  stubs/camunda_orchestration_sdk/models/batch_operation_response.pyi
  stubs/camunda_orchestration_sdk/models/cloud_configuration_response.pyi
  stubs/camunda_orchestration_sdk/models/cluster_rebalance_operation_partition.pyi
  stubs/camunda_orchestration_sdk/models/job_wait_state_details.pyi
Due: pyright

chore(release): 10.1.0-dev.42 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: address review comments on nullable enum decoding
  hooks/post_gen/1220_strict_nullable_enums.py
  hooks/pre_gen/0150_nullable_enums_and_unions.py
  tests/acceptance/test_nullable_fields_typed_nullable.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for strict nullable enum decoding
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/models/audit_log_result.py
  generated/camunda_orchestration_sdk/models/batch_operation_response.py
  generated/camunda_orchestration_sdk/models/cloud_configuration_response.py
  generated/camunda_orchestration_sdk/models/cluster_rebalance_operation_partition.py
  generated/camunda_orchestration_sdk/models/job_wait_state_details.py
Due: pyright

chore: make nullable enum strictness cover inline and inherited fields
  hooks/post_gen/1220_strict_nullable_enums.py
  tests/acceptance/test_nullable_fields_typed_nullable.py
Due: ruff-format, ruff-check, pyright

fix: decode an explicit null on nullable enum and union fields (#304)
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/models/audit_log_result.py
  generated/camunda_orchestration_sdk/models/batch_operation_response.py
  generated/camunda_orchestration_sdk/models/cloud_configuration_response.py
  generated/camunda_orchestration_sdk/models/cluster_rebalance_operation_partition.py
  generated/camunda_orchestration_sdk/models/job_wait_state_details.py
  hooks/post_gen/1220_strict_nullable_enums.py
  hooks/pre_gen/0150_nullable_enums_and_unions.py
  stubs/camunda_orchestration_sdk/models/audit_log_result.pyi
  stubs/camunda_orchestration_sdk/models/batch_operation_response.pyi
  stubs/camunda_orchestration_sdk/models/cloud_configuration_response.pyi
  stubs/camunda_orchestration_sdk/models/cluster_rebalance_operation_partition.pyi
  stubs/camunda_orchestration_sdk/models/job_wait_state_details.pyi
  tests/acceptance/test_nullable_fields_typed_nullable.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.43 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(generation): regenerate SDK for upstream authorizedComponents description
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/authentication.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/models/camunda_user_result.py
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
Due: pyright

chore(generation): regenerate SDK for upstream authorizedComponents description (#308)
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/authentication.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/models/camunda_user_result.py
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
Due: pyright

build: install the pre-push hook correctly from a linked git worktree
  scripts/setup-hooks.sh
  tests/acceptance/test_setup_hooks.py
Due: ruff-format, ruff-check, pyright

chore: leave a user-configured core.hooksPath alone in setup-hooks
  scripts/setup-hooks.sh
  tests/acceptance/test_setup_hooks.py
Due: ruff-format, ruff-check, pyright

build: install the pre-push hook correctly from a linked git worktree (#309)
  scripts/setup-hooks.sh
  tests/acceptance/test_setup_hooks.py
Due: ruff-format, ruff-check, pyright

feat: draw worker startup jitter from an injected, seedable random source
  hooks/post_gen/0900_flatten_client.py
  pyproject.toml
  runtime/job_worker.py
  runtime/random_source.py
  tests/acceptance/test_ambient_time_ban.py
  tests/acceptance/test_random_source.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the injected random source
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/random_source.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  stubs/camunda_orchestration_sdk/runtime/random_source.pyi
Due: pyright

chore: add the Random example region the method-completeness gate requires
  examples/client.py
Due: pyright

chore: reject non-integer seeds and document reproducible jitter
  README.md
  examples/readme.py
  runtime/random_source.py
  tests/acceptance/test_random_source.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for strict seed validation
  generated/camunda_orchestration_sdk/runtime/random_source.py
Due: pyright

feat: draw worker startup jitter from an injected, seedable random source (#310)
  README.md
  examples/client.py
  examples/readme.py
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/random_source.py
  hooks/post_gen/0900_flatten_client.py
  pyproject.toml
  runtime/job_worker.py
  runtime/random_source.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  stubs/camunda_orchestration_sdk/runtime/random_source.pyi
  tests/acceptance/test_ambient_time_ban.py
  tests/acceptance/test_random_source.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.44 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
