Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

chore: update MAINTAINER doc with Docusarus integration
  MAINTAINER.md
Due: none

docs: update Docusaurus integration
  MAINTAINER.md
  Makefile
  README.md
  scripts/generate_landing_page.py
  scripts/postprocess_markdown.py
Due: ruff-format, ruff-check, pyright

docs: reorder README sections for Docusaurus integration
  README.md
Due: none

docs: reorganise for Docusaurus
  README.md
Due: none

docs: add admonition to README for maintainer awareness
  MAINTAINER.md
  README.md
Due: none

chore(release): 8.9.0-dev.7 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: update Camunda Docs integration
  Makefile
  scripts/generate_landing_page.py
Due: ruff-format, ruff-check, pyright

chore: remove tmp clone files
  .gitignore
Due: none

fix: correctly handle nullable fields
  hooks/post_gen/1000_patch_semantic_types_in_models.py
Due: ruff-format, ruff-check, pyright

fix: regenerate from main
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/job-metrics.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/keys.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/rest-api.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/user-tasks.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/variables.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/api/job/get_job_type_statistics.py
  generated/camunda_orchestration_sdk/api/user_task/search_user_task_variables.py
  generated/camunda_orchestration_sdk/api/variable/get_variable.py
  generated/camunda_orchestration_sdk/api/variable/search_variables.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/errors.py
  generated/camunda_orchestration_sdk/models/__init__.py
  generated/camunda_orchestration_sdk/models/activated_job_result.py
  generated/camunda_orchestration_sdk/models/camunda_user_result.py
  generated/camunda_orchestration_sdk/models/job_type_statistics_filter.py
  generated/camunda_orchestration_sdk/models/job_type_statistics_item.py
  generated/camunda_orchestration_sdk/models/job_type_statistics_query.py
  generated/camunda_orchestration_sdk/models/job_type_statistics_query_result.py
  generated/camunda_orchestration_sdk/models/set_variable_request.py
  generated/camunda_orchestration_sdk/models/user_task_properties.py
  generated/camunda_orchestration_sdk/models/variable_result.py
  generated/camunda_orchestration_sdk/models/variable_result_base.py
  generated/camunda_orchestration_sdk/models/variable_search_result.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  stubs/camunda_orchestration_sdk/api/job/get_job_type_statistics.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/errors.pyi
  stubs/camunda_orchestration_sdk/models/__init__.pyi
  stubs/camunda_orchestration_sdk/models/activated_job_result.pyi
  stubs/camunda_orchestration_sdk/models/camunda_user_result.pyi
  stubs/camunda_orchestration_sdk/models/job_type_statistics_filter.pyi
  stubs/camunda_orchestration_sdk/models/job_type_statistics_item.pyi
  stubs/camunda_orchestration_sdk/models/job_type_statistics_query.pyi
  stubs/camunda_orchestration_sdk/models/job_type_statistics_query_result.pyi
Due: ruff-format, ruff-check, pyright

feat: support deprecated enum members
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/deployments.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/problem-detail.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/search-models.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/models/decision_definition_type_enum.py
  generated/camunda_orchestration_sdk/models/decision_instance_state_enum.py
  generated/camunda_orchestration_sdk/models/deployment_metadata_result.py
  generated/camunda_orchestration_sdk/models/problem_detail.py
  generated/camunda_orchestration_sdk/models/search_query_page_response.py
  hooks/post_gen/0150_annotate_deprecated_enums.py
  stubs/camunda_orchestration_sdk/models/deployment_metadata_result.pyi
  stubs/camunda_orchestration_sdk/models/problem_detail.pyi
  stubs/camunda_orchestration_sdk/models/search_query_page_response.pyi
Due: ruff-format, ruff-check, pyright

ci: use 8.9-SNAPSHOT for integration test
  docker/docker-compose.yaml
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/audit-logs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/global-listeners.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/models/__init__.py
  generated/camunda_orchestration_sdk/models/audit_log_result.py
  generated/camunda_orchestration_sdk/models/audit_log_result_actor_type.py
  generated/camunda_orchestration_sdk/models/global_task_listener_result.py
  stubs/camunda_orchestration_sdk/models/__init__.pyi
  stubs/camunda_orchestration_sdk/models/audit_log_result.pyi
  stubs/camunda_orchestration_sdk/models/audit_log_result_actor_type.pyi
  stubs/camunda_orchestration_sdk/models/global_task_listener_result.pyi
Due: pyright

chore(release): 8.9.0-dev.8 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.9 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add startup jitter to job worker
  README.md
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/incidents.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/advanced_incident_state_filter_eq.py
  generated/camunda_orchestration_sdk/models/advanced_incident_state_filter_neq.py
  generated/camunda_orchestration_sdk/models/incident_result_state.py
  generated/camunda_orchestration_sdk/models/incident_state_enum.py
  generated/camunda_orchestration_sdk/models/incident_state_exact_match.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  hooks/post_gen/0900_flatten_client.py
  runtime/job_worker.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/models/advanced_incident_state_filter_eq.pyi
  stubs/camunda_orchestration_sdk/models/advanced_incident_state_filter_neq.pyi
  stubs/camunda_orchestration_sdk/models/incident_result_state.pyi
  stubs/camunda_orchestration_sdk/models/incident_state_enum.pyi
  stubs/camunda_orchestration_sdk/models/incident_state_exact_match.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  uv.lock
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.10 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update configuration reference, add note to backpressure docs with stats
  README.md
  docs/backpressure.md
Due: none

chore(release): 8.9.0-dev.11 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: tolerate missing in nullable field (supports 8.8 behaviour) for deploy_resources_from_files
  README.md
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/deployment_metadata_result.py
  hooks/post_gen/0450_tolerant_nullable_pop.py
  hooks/post_gen/1400_generate_stubs.py
  stubs/camunda_orchestration_sdk/client.pyi
  tests/acceptance/test_deployment.py
  uv.lock
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.12 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.13 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add notes on failing jobs in worker
  README.md
Due: none

docs: add example of using ConnectedJobContext.client
  README.md
Due: none

fix: add note on execution strategy selection
  README.md
Due: none

chore(release): 8.9.0-dev.14 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.15 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: provide sync client to thread strategy handlers via SyncJobContext
  README.md
  examples/job.py
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  hooks/post_gen/1375_reexport_models.py
  runtime/job_worker.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  tests/acceptance/test_connected_job_context.py
  tests/integration/resources/message_handler_test.bpmn
  tests/integration/test_connected_job_context.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.16 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add compilable README examples with snippet sync
  .github/workflows/ci.yml
  Makefile
  README.md
  examples/readme.py
  scripts/sync-readme-snippets.py
Due: ruff-format, ruff-check, pyright

fix: rename ambiguous variable l to line (ruff E741)
  scripts/sync-readme-snippets.py
Due: ruff-format, ruff-check, pyright

Update Makefile
  Makefile
Due: none
