Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

chore(gen): regenerate SDK for upstream spec drift
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/backups.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/exporting.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/rest-api.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/secrets.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/api/exporting/get_exporting_status.py
  generated/camunda_orchestration_sdk/api/secret/list_secrets.py
  generated/camunda_orchestration_sdk/api/secret/resolve_secrets.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/__init__.py
  generated/camunda_orchestration_sdk/models/exporting_status_code.py
  generated/camunda_orchestration_sdk/models/exporting_status_response.py
  generated/camunda_orchestration_sdk/models/exporting_status_response_exporting_status_code.py
  generated/camunda_orchestration_sdk/models/job_search_query_sort_request_field.py
  generated/camunda_orchestration_sdk/models/secret_error_code.py
  generated/camunda_orchestration_sdk/models/secret_resolution_error.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
  stubs/camunda_orchestration_sdk/api/exporting/get_exporting_status.pyi
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/models/__init__.pyi
  stubs/camunda_orchestration_sdk/models/exporting_status_code.pyi
  stubs/camunda_orchestration_sdk/models/exporting_status_response.pyi
  stubs/camunda_orchestration_sdk/models/exporting_status_response_exporting_status_code.pyi
  stubs/camunda_orchestration_sdk/models/job_search_query_sort_request_field.pyi
  stubs/camunda_orchestration_sdk/models/secret_error_code.pyi
Due: pyright

feat(examples): add getExportingStatus example
  examples/exporting.py
  examples/operation-map.json
Due: pyright

chore(release): 10.1.0-dev.22 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: let the agent follow up on CI failures and review feedback
  .github/workflows/agent-pr-followup.yml
Due: none

fix(ci): stop interpolating the issue body into an unquoted heredoc
  .github/workflows/agent-example-coverage.yml
Due: none

fix(ci): tell the agent which commands actually gate its work
  .github/workflows/agent-example-coverage.yml
  .github/workflows/agent-pr-followup.yml
Due: none

fix(ci): fail closed when the verify gate is empty
  .github/workflows/agent-example-coverage.yml
  .github/workflows/agent-pr-followup.yml
Due: none

fix(ci): align the agent verify gate with the CI gates
  .github/workflows/agent-example-coverage.yml
  .github/workflows/agent-pr-followup.yml
Due: none

chore(release): 10.1.0-dev.23 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: scope and reorder workflow credentials for INC-7027
  .github/workflows/agent-pr-followup.yml
Due: none

ci: use the shared agent example-coverage workflows
  .github/workflows/agent-example-coverage.yml
  .github/workflows/agent-pr-followup.yml
Due: none

chore(release): 10.1.0-dev.24 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: refresh the spec before the agent coverage gate
  .github/workflows/agent-example-coverage.yml
Due: none

ci: refresh the spec before the agent coverage gate (#246)
  .github/workflows/agent-example-coverage.yml
Due: none

docs: add agent definition examples and operation-map entries
  examples/agent_definition.py
  examples/operation-map.json
Due: pyright

docs: add agent definition examples and operation-map entries (#247)
  examples/agent_definition.py
  examples/operation-map.json
Due: pyright

fix(examples): group plannedChanges by physical tenant
  examples/admin_operations.py
Due: pyright

feat(examples): add cluster admin and history backup example coverage
  examples/admin_operations.py
  examples/backup.py
  examples/operation-map.json
Due: pyright

fix(examples): group plannedChanges by physical tenant and cover new operations (#251)
  examples/admin_operations.py
  examples/backup.py
  examples/operation-map.json
  package-lock.json
Due: pyright

chore(release): 10.1.0-dev.25 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: poll for bot reviews instead of listening for the review event
  .github/workflows/agent-pr-followup.yml
Due: none

chore(release): 10.1.0-dev.26 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: poll for bot reviews instead of listening for the review event (#254)
  .github/workflows/agent-pr-followup.yml
Due: none

ci: push release commits as the camunda-sdk-automation app
  .github/workflows/publish.yml
Due: none

ci: read the app credentials from the agentic-experience Vault path
  .github/workflows/publish.yml
Due: none

ci: push release commits as the camunda-sdk-automation app (#257)
  .github/workflows/publish.yml
Due: none

chore(release): 10.1.0-dev.27 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: bound job and integration-step runtimes
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

chore(release): 10.1.0-dev.28 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: bound job and integration-step runtimes (#263)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix: honour nullable on enum-typed model fields
  hooks/post_gen/1225_fix_nullable_enum_fields.py
  tests/acceptance/test_hook_fix_nullable_enum_fields.py
Due: ruff-format, ruff-check, pyright

fix: update agent instance examples for the reshaped upstream API
  examples/agent_instance.py
  examples/operation-map.json
Due: pyright

fix: update agent instance examples for the reshaped upstream API (#267)
  examples/agent_instance.py
  examples/operation-map.json
Due: pyright

ci: auto-merge agent example-coverage pull requests
  .github/workflows/agent-auto-merge.yml
Due: none

chore(release): 10.1.0-dev.29 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: auto-merge agent example-coverage pull requests (#266)
  .github/workflows/agent-auto-merge.yml
Due: none

feat: add the injected Clock protocol, live implementation and injection point
  hooks/post_gen/0900_flatten_client.py
  runtime/clock.py
  tests/acceptance/clock_contract.py
  tests/acceptance/test_clock_contract.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the clock injection point
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
Due: pyright

chore(generation): regenerate SDK for the clock exports
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
Due: pyright

fix: export the clock types and give the accessor an example region
  examples/client.py
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  tests/acceptance/clock_contract.py
Due: ruff-format, ruff-check, pyright

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
