Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

feat: add EngineClock, binding client cadence to engine time (#275)
  README.md
  examples/readme.py
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/clock.py
  hooks/post_gen/0900_flatten_client.py
  runtime/__init__.py
  runtime/clock.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/clock.pyi
  tests/acceptance/test_engine_clock.py
  tests/acceptance/test_engine_clock_acceptance.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.34 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: say what a handler wait is for
  README.md
  examples/readme.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  runtime/job_worker.py
Due: ruff-format, ruff-check, pyright

docs: say what a handler wait is for (#276)
  README.md
  examples/readme.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  runtime/job_worker.py
Due: ruff-format, ruff-check, pyright

build(spec): track upstream stable/8.10
  .github/workflows/ci.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/publish.yml
  CONTRIBUTING.md
  Makefile
  generate.py
  scripts/bundle-spec.sh
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for stable/8.10 spec
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/agent-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/groups.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/mapping-rules.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/roles.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/tenants.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/users.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/models/__init__.py
  generated/camunda_orchestration_sdk/models/agent_instance_creation_request.py
  generated/camunda_orchestration_sdk/models/group_filter_fields.py
  generated/camunda_orchestration_sdk/models/group_search_query_request_filter.py
  generated/camunda_orchestration_sdk/models/mapping_rule_filter.py
  generated/camunda_orchestration_sdk/models/mapping_rule_filter_fields.py
  generated/camunda_orchestration_sdk/models/role_filter.py
  generated/camunda_orchestration_sdk/models/role_filter_fields.py
  generated/camunda_orchestration_sdk/models/role_search_query_request_filter.py
  generated/camunda_orchestration_sdk/models/tenant_search_query_sort_request.py
  generated/camunda_orchestration_sdk/models/user_filter.py
  generated/camunda_orchestration_sdk/models/user_filter_fields.py
  generated/camunda_orchestration_sdk/models/user_search_query_request_filter.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
  stubs/camunda_orchestration_sdk/models/__init__.pyi
  stubs/camunda_orchestration_sdk/models/group_filter.pyi
  stubs/camunda_orchestration_sdk/models/group_filter_fields.pyi
  stubs/camunda_orchestration_sdk/models/group_search_query_request_filter.pyi
  stubs/camunda_orchestration_sdk/models/mapping_rule_filter_fields.pyi
  stubs/camunda_orchestration_sdk/models/mapping_rule_search_query_request_filter.pyi
  stubs/camunda_orchestration_sdk/models/role_filter.pyi
  stubs/camunda_orchestration_sdk/models/role_filter_fields.pyi
  stubs/camunda_orchestration_sdk/models/role_search_query_request_filter.pyi
  stubs/camunda_orchestration_sdk/models/user_filter.pyi
  stubs/camunda_orchestration_sdk/models/user_filter_fields.pyi
  stubs/camunda_orchestration_sdk/models/user_search_query_request_filter.pyi
Due: pyright

docs: add v9 to v10 migration guide
  MIGRATION.md
  README.md
Due: none

chore: use absolute URL for the MIGRATION.md link
  README.md
Due: none

chore: point resource-content migration at the binary endpoint
  MIGRATION.md
Due: none

chore: correct resource-content guidance, response types and link
  MIGRATION.md
  README.md
Due: none

docs: add v9 to v10 migration guide (#280)
  MIGRATION.md
  README.md
Due: none

ci: test every run against the snapshot the spec is bundled from
  .github/workflows/ci.yml
  docker/docker-compose.yaml
Due: none

fix: pass the job lease token as its branded type in examples and tests
  examples/agent_instance.py
  tests/acceptance/test_connected_job_context.py
  tests/acceptance/test_job_context_clock.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.35 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 10.1.0-dev.36 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: floor the coverage percentage so 100% means nothing is missing
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

fix: floor the coverage percentage so 100% means nothing is missing (#292)
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.37 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: opt into job leasing and enforce the lease coupling the spec declares
  hooks/post_gen/0350_generate_present_when.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1375_reexport_models.py
  runtime/__init__.py
  runtime/job_worker.py
  runtime/present_when.py
  scripts/escape-hatch-baseline.json
  tests/acceptance/test_hook_present_when.py
  tests/acceptance/test_job_worker_lease.py
  tests/acceptance/test_present_when_runtime.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for the x-present-when lease coupling
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/activated_job_result.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/present_when.py
  generated/camunda_orchestration_sdk/runtime/present_when_generated.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  stubs/camunda_orchestration_sdk/runtime/present_when.pyi
  stubs/camunda_orchestration_sdk/runtime/present_when_generated.pyi
Due: pyright

feat: opt into job leasing and enforce the x-present-when lease coupling (#294)
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/models/activated_job_result.py
  generated/camunda_orchestration_sdk/runtime/__init__.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  generated/camunda_orchestration_sdk/runtime/present_when.py
  generated/camunda_orchestration_sdk/runtime/present_when_generated.py
  hooks/post_gen/0350_generate_present_when.py
  hooks/post_gen/0900_flatten_client.py
  hooks/post_gen/1375_reexport_models.py
  runtime/__init__.py
  runtime/job_worker.py
  runtime/present_when.py
  scripts/escape-hatch-baseline.json
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/__init__.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  stubs/camunda_orchestration_sdk/runtime/present_when.pyi
  stubs/camunda_orchestration_sdk/runtime/present_when_generated.pyi
  tests/acceptance/test_hook_present_when.py
  tests/acceptance/test_job_worker_lease.py
  tests/acceptance/test_present_when_runtime.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.38 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(docs): reject bare-filename links that are not generated pages
  scripts/generate_landing_page.py
  tests/acceptance/test_generate_landing_page.py
Due: ruff-format, ruff-check, pyright

docs: link the migration guide by absolute URL
  README.md
Due: none

chore(docs): fix migration guide link breaking camunda-docs build (#296)
  README.md
  scripts/generate_landing_page.py
  tests/acceptance/test_generate_landing_page.py
Due: ruff-format, ruff-check, pyright

feat: add CAMUNDA_REST_ADDRESS_EXACT to opt out of automatic /v2 suffix
  runtime/configuration_resolver.py
  tests/acceptance/test_configuration_resolver.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for CAMUNDA_REST_ADDRESS_EXACT option
  README.md
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
Due: pyright

fix(stubs): preserve class keywords like total=False in generated stubs
  hooks/post_gen/1400_generate_stubs.py
  tests/acceptance/test_hook_generate_stubs.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for stub class-keyword preservation
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
Due: none

feat: add CAMUNDA_REST_ADDRESS_EXACT to opt out of automatic /v2 suffix (#297)
  README.md
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  hooks/post_gen/1400_generate_stubs.py
  runtime/configuration_resolver.py
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
  tests/acceptance/test_configuration_resolver.py
  tests/acceptance/test_hook_generate_stubs.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.39 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(generation): regenerate SDK for upstream stable/8.10 spec drift
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/incidents.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/search-models.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/api/process_instance/cancel_process_instance.py
  generated/camunda_orchestration_sdk/api/process_instance/cancel_process_instances_batch_operation.py
  generated/camunda_orchestration_sdk/client.py
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
Due: pyright

chore(generation): regenerate SDK for upstream stable/8.10 spec drift (#298)
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/incidents.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/process-instances.yaml
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/search-models.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/_spec_hash.py
  generated/camunda_orchestration_sdk/api/process_instance/cancel_process_instance.py
  generated/camunda_orchestration_sdk/api/process_instance/cancel_process_instances_batch_operation.py
  generated/camunda_orchestration_sdk/client.py
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
Due: pyright

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
