Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# All hooks use the project-local ruff/pyright via `uv run` to ensure
# identical behaviour to `make generate` / `make lint` / `make typecheck`.
repos:
  - repo: local
    hooks:
      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types: [python]
        exclude: ^(examples|generated|demo|stubs)/
      - id: pyright
        name: pyright type checking
        entry: uv run pyright
        language: system
        pass_filenames: false
        types: [python]

test: replace lambda assignment with def to satisfy ruff E731
  tests/acceptance/test_eventual_consistency.py
Due: ruff-format, ruff-check, pyright

fix(eventual): keyword-only consistency, create_task, quieter logs, stricter import asserts
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  hooks/post_gen/0900_flatten_client.py
  stubs/camunda_orchestration_sdk/client.pyi
  tests/acceptance/test_eventual_consistency.py
Due: ruff-format, ruff-check, pyright

chore: adopt shared sdk-infra commitlint config
  .github/workflows/ci.yml
  commitlint.config.cjs
  package.json
Due: none

ci: replace inline spec-ref guard with reusable sdk-infra workflow
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

ci: adopt reusable spec bundling workflow from sdk-infra
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  Makefile
Due: none

ci: adopt start-camunda and stop-camunda composite actions
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

fix: add missing @commitlint/config-conventional dependency
  package-lock.json
  package.json
Due: none

chore: prevent stale spec fallback, document itest-local, gitignore node_modules
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .gitignore
  CONTRIBUTING.md
Due: none

chore: bump @camunda8/sdk-infra to ^1.0.0
  package.json
Due: none

chore: update package-lock.json for sdk-infra@1.0.0
  package-lock.json
Due: none

chore(release): 10.1.0-dev.1 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: add Slack notification on release failure
  .github/workflows/publish.yml
Due: none

fix: update examples for branded types and add agent instance examples
  examples/admin_operations.py
  examples/agent_instance.py
  examples/group.py
  examples/mapping_rule.py
  examples/operation-map.json
  examples/role.py
  examples/tenant.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
Due: ruff-format, ruff-check, pyright

chore: add type annotations to fix pyright errors in hook
  hooks/post_gen/1000_patch_semantic_types_in_models.py
Due: ruff-format, ruff-check, pyright

chore: bump spec ref to main for 8.10 dev cycle
  Makefile
Due: none

feat: v10 migration — bundler 2.4.1, SPEC_REF main, README migration section
  Makefile
  README.md
  examples/readme.py
  package-lock.json
  package.json
Due: pyright

chore: fix broken repo-relative link in migration section
  README.md
Due: none

chore: mark stubs and bundled spec as linguist-generated
  .gitattributes
Due: none

chore: v10 migration hand-written changes (review-only branch)
  .gitattributes
  Makefile
  README.md
  examples/admin_operations.py
  examples/agent_instance.py
  examples/group.py
  examples/mapping_rule.py
  examples/operation-map.json
  examples/readme.py
  examples/role.py
  examples/tenant.py
  hooks/post_gen/1000_patch_semantic_types_in_models.py
  package.json
Due: ruff-format, ruff-check, pyright

chore: fix misleading docstring in semantic type hook
  hooks/post_gen/1000_patch_semantic_types_in_models.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.2 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add backward-compatible deprecated type aliases for v9 model renames
  README.md
  hooks/post_gen/1380_emit_deprecated_aliases.py
  hooks/post_gen/_rename_map.py
  pyproject.toml
  tests/acceptance/test_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK for deprecated type aliases
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/models/__init__.py
  uv.lock
Due: pyright

fix: handle deprecated aliases and __getattr__ in stub generator
  hooks/post_gen/1400_generate_stubs.py
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate stubs with deprecated alias support
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/models/__init__.pyi
Due: none

chore: address review comments
  hooks/post_gen/1380_emit_deprecated_aliases.py
  pyproject.toml
  tests/acceptance/test_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

test: add v9 usage pattern regression guards
  tests/acceptance/test_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

chore: address review comments — fix __all__ comment and use word-boundary validation
  hooks/post_gen/1380_emit_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

chore: address review comments — fix docstring wording and isinstance test
  tests/acceptance/test_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

chore: address review comments — fix top-level init docstring
  hooks/post_gen/1380_emit_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

fix: include stubs/ in ruff format step for deterministic output
  Makefile
Due: none

chore: rename _rename_map.py to _api_compat_alias_map.py
  hooks/post_gen/1380_emit_deprecated_aliases.py
  hooks/post_gen/_api_compat_alias_map.py
  tests/acceptance/test_deprecated_aliases.py
Due: ruff-format, ruff-check, pyright

chore(release): 10.1.0-dev.3 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: add always() and secret guard to notify job
  .github/workflows/publish.yml
Due: none

chore: remove secrets guard from job-level if expression
  .github/workflows/publish.yml
Due: none

chore: add empty permissions to notify job
  .github/workflows/publish.yml
Due: none
