Repository camunda/orchestration-cluster-api-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff-check, pyright

ruff-format:
  name: ruff format
  entry: uv run ruff format
  language: system

ruff-check:
  name: ruff check
  entry: uv run ruff check --fix
  language: system

pyright:
  name: pyright type checking
  entry: uv run pyright
  language: system
  pass_filenames: false

chore(release): 8.9.0-dev.17 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix(generator): normalize bare $ref responses and fail on warnings
  generate.py
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/api/group/search_groups.py
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/errors.py
  hooks/pre_gen/0100_patch_bundled_spec.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/errors.pyi
  uv.lock
Due: ruff-format, ruff-check, pyright

chore(build): add example typecheck, README sync, and config reference to generate targets
  .github/workflows/publish.yml
  Makefile
Due: none

docs: document README examples integration
  MAINTAINER.md
Due: none

docs: update section numbering
  MAINTAINER.md
Due: none

chore(release): 8.9.0-dev.18 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add warning for maintainers to README
  README.md
Due: none

docs: update versioning scheme notes
  README.md
Due: none

docs: expand SDK code examples to cover all API operations
  examples/additional_operations.py
  examples/admin_operations.py
  examples/authorization.py
  examples/batch_operation.py
  examples/extended_operations.py
  examples/group.py
  examples/mapping_rule.py
  examples/operation-map.json
  examples/role.py
  examples/tenant.py
  examples/user.py
  hooks/post_gen/1200_fix_model_typing.py
  hooks/pre_gen/0100_patch_bundled_spec.py
Due: ruff-format, ruff-check, pyright

fix: preserve isinstance guard for nullable semantic type fields
  hooks/post_gen/1200_fix_model_typing.py
Due: ruff-format, ruff-check, pyright

fix: correct GetStatus region and operation-map entries
  examples/admin_operations.py
  examples/extended_operations.py
  examples/operation-map.json
Due: pyright

chore(release): 8.9.0-dev.19 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

ci: add Dependabot
  .github/dependabot.yml
  RELEASE.md
Due: none

chore(release): 8.9.0-dev.20 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore: remove black/pre-commit, split dep groups, fix method ordering
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .pre-commit-config.yaml
  MAINTAINER.md
  Makefile
  hooks/post_gen/0900_flatten_client.py
  pyproject.toml
  scripts/setup-hooks.sh
  uv.lock
Due: ruff-format, ruff-check, pyright

chore(generation): regenerate SDK with deterministic method ordering
  external-spec/bundled/rest-api.bundle.json
  external-spec/bundled/spec-metadata.json
  external-spec/upstream/zeebe/gateway-protocol/src/main/proto/v2/jobs.yaml
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  stubs/camunda_orchestration_sdk/client.pyi
Due: pyright

feat: transcendent tenant_id configuration
  hooks/post_gen/0900_flatten_client.py
  runtime/configuration_resolver.py
  tests/acceptance/test_configuration_resolver.py
Due: ruff-format, ruff-check, pyright

chore: regenerate SDK with transcendent tenant_id support
  README.md
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
Due: pyright

feat: support job corrections in worker framework
  README.md
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  runtime/job_worker.py
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  tests/acceptance/test_job_worker.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.21 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.22 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: heritable worker configuration defaults
  README.md
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/client.py
  generated/camunda_orchestration_sdk/runtime/configuration_resolver.py
  generated/camunda_orchestration_sdk/runtime/job_worker.py
  hooks/post_gen/0900_flatten_client.py
  runtime/configuration_resolver.py
  runtime/job_worker.py
  stubs/camunda_orchestration_sdk/client.pyi
  stubs/camunda_orchestration_sdk/runtime/configuration_resolver.pyi
  stubs/camunda_orchestration_sdk/runtime/job_worker.pyi
  tests/acceptance/test_worker_defaults.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.23 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: fix examples
  .github/copilot-instructions.md
  README.md
  examples/readme.py
Due: pyright

fix: harden README code injection
  Makefile
  README.md
  examples/readme.py
  scripts/sync-readme-snippets.py
Due: ruff-format, ruff-check, pyright

fix: expose body-less endpoints (e.g. getStatus) on CamundaClient
  hooks/post_gen/0900_flatten_client.py
Due: ruff-format, ruff-check, pyright

fix: address PR review comments on synthesized convenience wrappers
  hooks/post_gen/0900_flatten_client.py
  tests/acceptance/test_get_status.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.24 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

chore(release): 8.9.0-dev.25 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

fix: inject default tenant ID into request body, not path params
  generated/camunda_orchestration_sdk/client.py
  hooks/post_gen/0900_flatten_client.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.26 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

feat: embed specHash from spec-metadata.json in published package
  generated/bundled_spec.yaml
  generated/camunda_orchestration_sdk/__init__.py
  generated/camunda_orchestration_sdk/_spec_hash.py
  hooks/post_gen/0025_emit_spec_hash.py
  hooks/post_gen/1375_reexport_models.py
  stubs/camunda_orchestration_sdk/__init__.pyi
  stubs/camunda_orchestration_sdk/_spec_hash.pyi
  tests/acceptance/test_spec_hash.py
  uv.lock
Due: ruff-format, ruff-check, pyright

refactor: harden spec hash emission per review feedback
  generated/bundled_spec.yaml
  hooks/post_gen/0025_emit_spec_hash.py
  hooks/post_gen/1375_reexport_models.py
Due: ruff-format, ruff-check, pyright

chore(release): 8.9.0-dev.27 [skip ci]
  CHANGELOG.md
  pyproject.toml
Due: none

docs: add examples for document and effective variable operations
  examples/additional_operations.py
  examples/operation-map.json
Due: pyright

docs: parameterize SDK examples and add coverage tooling
  .github/workflows/ci.yml
  examples/additional_operations.py
  examples/admin_operations.py
  examples/authorization.py
  examples/batch_operation.py
  examples/decision.py
  examples/extended_operations.py
  examples/group.py
  examples/incident.py
  examples/job.py
  examples/operation-map.json
  examples/process_instance.py
  examples/readme.py
  examples/role.py
  examples/tenant.py
  examples/user.py
  examples/user_task.py
  missing-examples.json
  scripts/check_example_coverage.py
Due: ruff-format, ruff-check, pyright

fix: address review feedback on document/variable examples
  examples/additional_operations.py
Due: pyright

docs: sync README snippets
  README.md
Due: none

Path conditions:
  ruff-format: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  ruff-check: any of: \.py$, but not: ^(examples|generated|demo|stubs)/
  pyright: any of: \.py$
